<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/95fd851c76f3f6bde8c085de/w/d547567e27705c867ac23e03/e/46c7eb3c59f888e21815eca3 -->
<robot name="robot_description">

  <link name="world"/>

  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <!-- Link base -->
  <link name="base">
    <inertial>
      <origin xyz="3.03802e-22 -2.49325e-05 0.0512803" rpy="0 0 0"/>
      <mass value="8"/>
      <inertia ixx="0.03558" ixy="0" ixz="0" iyy="0.0174346" iyz="9.23893e-06" izz="0.0389875"/>
    </inertial>
    <!-- Part base -->
    <visual>
      <origin xyz="0 0 0.1026" rpy="3.14159 -0 1.5708"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/base.stl"/>
      </geometry>
      <material name="base_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.1026" rpy="3.14159 -0 1.5708"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/base.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_j1 -->
  <link name="link_j1">
    <inertial>
      <origin xyz="0.0149002 -2.26837e-18 -0.0425285" rpy="0 0 0"/>
      <mass value="2.59"/>
      <inertia ixx="0.00254072" ixy="0" ixz="2.44349e-06" iyy="0.00578583" iyz="0" izz="0.00519265"/>
    </inertial>
    <!-- Part link_j1 -->
    <visual>
      <origin xyz="0.015 2.23158e-19 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/link_j1.stl"/>
      </geometry>
      <material name="link_j1_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.015 2.23158e-19 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/link_j1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_j2 -->
  <link name="link_j2">
    <inertial>
      <origin xyz="0.107431 1.01288e-17 -0.00989273" rpy="0 0 0"/>
      <mass value="1.75"/>
      <inertia ixx="0.000858613" ixy="1.18735e-32" ixz="2.5528e-05" iyy="0.00951707" iyz="1.42479e-34" izz="0.0102488"/>
    </inertial>
    <!-- Part link_j2 -->
    <visual>
      <origin xyz="0 -3.06162e-19 -0.02" rpy="1.2326e-32 1.2326e-32 9.86076e-31"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/link_j2.stl"/>
      </geometry>
      <material name="link_j2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -3.06162e-19 -0.02" rpy="1.2326e-32 1.2326e-32 9.86076e-31"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/link_j2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_j3 -->
  <link name="link_j3">
    <inertial>
      <origin xyz="-8.5428e-05 -2.37945e-09 -0.0425066" rpy="0 0 0"/>
      <mass value="0.472"/>
      <inertia ixx="0.00050765" ixy="3.58382e-11" ixz="-8.78892e-07" iyy="0.000506109" iyz="-2.73616e-11" izz="0.000439176"/>
    </inertial>
    <!-- Part link_j3 -->
    <visual>
      <origin xyz="-2.36658e-30 0 0.01" rpy="3.14159 1.47911e-31 1.97215e-31"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/link_j3.stl"/>
      </geometry>
      <material name="link_j3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-2.36658e-30 0 0.01" rpy="3.14159 1.47911e-31 1.97215e-31"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/link_j3.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_j4 -->
  <link name="link_j4">
    <inertial>
      <origin xyz="-4.61497e-10 -6.09313e-05 0.125272" rpy="0 0 0"/>
      <mass value="0.349"/>
      <inertia ixx="0.00185365" ixy="1.88523e-12" ixz="-6.23153e-12" iyy="0.00185386" iyz="2.49591e-06" izz="3.91041e-05"/>
    </inertial>
    <!-- Part link_j4 -->
    <visual>
      <origin xyz="-5.55112e-17 1.38778e-17 -0.009" rpy="-1.5708 -1.77636e-15 1.5708"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/link_j4.stl"/>
      </geometry>
      <material name="link_j4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-5.55112e-17 1.38778e-17 -0.009" rpy="-1.5708 -1.77636e-15 1.5708"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/link_j4.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_j5 -->
  <link name="link_j5">
    <inertial>
      <origin xyz="-7.86519e-05 4.46002e-05 -0.0198258" rpy="0 0 0"/>
      <mass value="0.218"/>
      <inertia ixx="4.41782e-05" ixy="-7.36866e-08" ixz="-2.14607e-08" iyy="4.40886e-05" iyz="1.42459e-08" izz="1.3973e-05"/>
    </inertial>
    <!-- Part link_j5 -->
    <visual>
      <origin xyz="0 0 0.01" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/link_j5.stl"/>
      </geometry>
      <material name="link_j5_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.01" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://robot_description/urdf/assets/link_j5.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from link_j4 to link_j5 -->
  <joint name="j5" type="revolute">
    <origin xyz="1.11022e-16 0.0160737 0.242638" rpy="-1.5708 -1.66533e-15 3.14159"/>
    <parent link="link_j4"/>
    <child link="link_j5"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from link_j3 to link_j4 -->
  <joint name="j4" type="revolute">
    <origin xyz="0.0432651 0 -0.0643" rpy="-1.5708 -3.69779e-32 -1.5708"/>
    <parent link="link_j3"/>
    <child link="link_j4"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from link_j2 to link_j3 -->
  <joint name="j3" type="revolute">
    <origin xyz="0.2086 1.27555e-17 0.001" rpy="-3.14159 1.11022e-15 -1.5708"/>
    <parent link="link_j2"/>
    <child link="link_j3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from link_j1 to link_j2 -->
  <joint name="j2" type="revolute">
    <origin xyz="0.086 2.23158e-19 -0.03632" rpy="-3.14159 1.5708 0"/>
    <parent link="link_j1"/>
    <child link="link_j2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base to link_j1 -->
  <joint name="j1" type="revolute">
    <origin xyz="-9.50428e-19 0.0585 0.1036" rpy="3.14159 -0 1.5708"/>
    <parent link="base"/>
    <child link="link_j1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>

    <!-- Add before closing </robot> tag -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find simple_moveit)/config/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>


</robot>
